body {
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
  color: #3b3b98;
}

// navbar
.navbar-brand {
  min-height: 50px;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #b7b7f7;
      font-size: 16px;

      &.active {
        color: #3b3b98;
        font-weight: bold;
      }

      &:hover {
        color: #00007e;
      }
    }
  }

  .btn-Masuk-right {
    color: black;

    border-radius: 10px;

    &:hover {
      color: black;
      background-color: #e4e4e4;
    }
  }

  .btn-daftar-right {
    background-color: #31317c;

    border-radius: 10px;
    color: #fff;

    &:hover {
      background-color: #00007e;
      color: #fff;
    }
  }
}

.section-header {
  .headding {
    .heading-header {
      margin-top: 100px;
      color: black;
      font-size: 50px;
      font-weight: 600;
    }
    .text-body-header {
      color: black;
      font-weight: 300;
    }

    .button-header {
      .btn-get-started {
        color: #fff;
        background-color: #f39545;

        &:hover {
          color: #fff;
          background-color: #f58220;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .header-image {
    padding-left: 40px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .section-header {
    padding-left: -2rem;
  }
  .header-image {
    max-width: 80%;
    padding-left: 100px;

    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .section-header {
    padding: 2rem 3rem 4rem 2rem;
  }

  .header-image {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .headding {
    margin-top: 100px;
  }
  .header-image {
    min-width: 100%;
  }
}

// Networks

.section-network {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #1111c5;
}

.section-brand-12 {
  padding: 10rem 1rem 10rem 1rem;
  .headding-brand {
    padding-top: 50px;
  }

  h2 {
    color: black;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    color: black;
    font-size: 16px;
    font-weight: 300;
  }
}

// Product

.section-card {
  margin-top: 5rem;
  margin-bottom: 5rem;

  .card-product {
    padding: 50px 25px 20px;
    border-radius: 12px;
  }
  .product-content {
    min-height: 320px;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

  p {
    font-size: 16px;
    color: #fff;
    font-weight: lighter;
  }
}

.section-testimonial-heading {
  background-color: #ced6e0;
  min-height: 500px;

  h2 {
    font-size: 40px;
    font-weight: bold;
    color: #54a8cc;
  }
}

.section-testimonial {
  margin-top: -300px;

  .testimonial-content {
    min-height: 400px;
  }
  h5 {
    color: #000000;
    font-size: 20px;
  }
  p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
  }

  .card-text {
    padding-top: 20px;
  }
}

.section-join-us {
  .join-us-JcsN {
    background: linear-gradient(#339 0%, #f0c 100%);

    min-height: 300px;
    border-radius: 20px;
    padding-top: 20px;
  }

  h2 {
    color: #fff;
  }
  p {
    color: #fff;
  }

  .button-Join-Us button {
    background: linear-gradient(#72f345 0%, #0019ff 100%);

    color: #fff;
    border-radius: 50%;

    &:hover {
      background: linear-gradient(#72f345 0%, #0111a1 100%);
      color: #fff;
    }
  }
}

.section-footer {
  padding-top: 200px;
  ul li a {
    text-decoration: none;
    color: #00007e;

    &:hover {
      color: #1111c5;
    }
  }
}
